{% extends "deeplearning/base.html" %}
{% load static %}
	    {% block content %}
	    <article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">About Us</h2>
			    <p><h6>Sujitha.S and Sai Vishwa.B</h6>We the students of Bannari Amman institute of technology, developed an  app to detect plant diseases</p>
					
					<h5 class="mt-5">Background and education</h5>
					<p>We the students of 1st year Artificial Intelligence and Data Science department from Data Science Lab</p>
					<h5 class="mt-5">Our Skills and Experiences</h5>
					<ul>
						<li>Machine Learning</li>
						<li>Deep Learning</li>
						<li>App Development</li>						
						<li>NLP</li>
						<li>Predictive Modeling</li>
					</ul>
			    <h5 class="mt-5">Side Projects</h5>
			    <p>Coming soon...</p>
				<h5 class="mt-5">Contact us</h5>
				Sai Vishwa B - saivishwa.ad21@bitsathy.ac.in<br>
				Sujitha S - sujitha.ad21@bitsathy.ac.in<br>
			</div>
	    </article><!--//about-section-->
	    </section> -->
	    {% endblock %}
